.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2bd141;   /* dark gray */
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #a8f155;   /* light blue */
}
